@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --background-color: rgb(251, 253, 255);
    --primarycolor: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    background-color: var(--background-color);
    color: var(--primarycolor);
}

body{
    max-width: 1200px;
    padding: 24px;
    margin: auto;
    font-family: 'Rubik';
    display: grid;
    gap: 25px;
}


header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            color: var(--primarycolor);
            text-decoration: none;
            font-size: 2rem;
            font-weight: bolder;
        }

        .left-nav{
            display: flex;
            gap: 24px;

            .input-icon{
                position: relative;
                
                input{
                    outline: none;
                    padding: 12px 4rem 12px 1.5rem;
                    font-size: 1.2rem;
                    border: 2px solid rgb(213, 210, 210);
                    border-radius: 25px;

                    &::placeholder{
                        color: rgb(136, 135, 135);
                    }
                }

                i{
                    position: absolute;
                    z-index: 1;
                    color: rgb(150, 150, 150);
                    font-size: 1.2rem;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1.5rem;
                    cursor: pointer;

                    
                }
            }

        }

        i{
            color: #27AE60;
            font-size: 2.6rem;
        }
    }    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px; 

    .list-container{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        max-width: 390px;   
        gap: 20px;
        
        .list{
            

            .songs-list{
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-height: 25vh;

                .songs{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    
                    .song-contenedor{
                        display: flex;
                        align-items: center;
                        gap: 40px;

                        .texto1{
                            display: flex;
                            flex-direction: column;
                            gap: 9px;
                            min-width: 220px;
                        }

                        .icons{
                            display: flex;
                            gap: 20px;

                            .btn-icon{
                                background-color: transparent;
                                border: none; 
                                cursor: pointer; 

                                img{
                                    height: 22px;
                                }
                                
                            }
                        }
                    }
                }
            }

        }

    }

    .song-container{
        display: flex;
        flex-direction: column;
        width: 450px;
        gap: 20px;
        word-wrap: break-word;
        

        .title-now-playing{
            width: 450px; 
            display: flex;
            justify-content: center;
        }

        .container-image{
            display: flex;
            align-items: center;

            .square {
                width: 250px; 
                height: 250px;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .circle {
                width: 250px;
                height: 250px;
                background: #000;
                background-image: 
                  repeating-radial-gradient(circle at 50% 50%, transparent 0% 15%, #0004 15.25% 15.75%),
                  repeating-conic-gradient(transparent 0% 25%, #fff3 42% 42%, transparent 50%);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(200px);
                z-index: -1;
                position: absolute;
                
                .inner-circle {
                    width: calc(250px/2.5);
                    height: calc(250px/2.5);
                    background: #D3274D;
                    border-radius: 50%;
                    display: flex;
                    border: 8px solid #000;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        width: calc(250px*0.02);
                        height: calc(250px*0.02);
                        background: #fff;
                        border-radius: 50%;   
                    }

                }
            }
        }

        .icons{
            display: flex;
            gap: 20px;
            justify-content: space-between;

            .btn-icon{
                background-color: transparent;
                border: none; 
                cursor: pointer; 
                color: #27AE60;

                img{
                    height: 24px;
                }
                
            }
        }

        .info{
            width: 450px; 
            display: flex;
            flex-direction: row;
            gap: 15px;

            .song-information{
                display: flex;
                flex-direction: column;
                min-width: 90px; 
                gap: 15px;
            }

            .song-detail{
                display: flex;
                flex-direction: column;
                font-size: 1.17em;
                min-width: 345px;
                gap: 15px;
            }
        }

        .reproductor-controls{
            display: flex;
            width: 450px; 
            justify-content: center;
            
            .music-control{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 20px;
                
                .control-btn{
                    background-color: transparent;
                    border: none; 
                    cursor: pointer; 

                    .bi-play-circle-fill, .bi-stop-circle-fill, .bi-pause-circle-fill{
                        font-size: 3rem;
                    }

                    i{
                        font-size: 2.5rem;
                        color: #27AE60;
                    }
                    
                    .bi-volume-up-fill, .bi-volume-mute-fill{
                        color: #828282;
                    }
                }

            }
        }
    }

    
}


